

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #8F8F8F;
}

.container-fluid {
  padding: 7% 15%;
}

/* heading section */
.big-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.2rem;
  padding: 0 18px;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}


/* Title section */

#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}

#title .container-fluid{
  padding: 3% 15% 7%;
}
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width:1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
    text-align: center;
  }
}

/* feature sections */
#features {
  position: relative;
  /* z-index: 1; */
  background-color: white;
}

.feature-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial & carousel section */
.testmonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

#testimonials {
  background-color: #ff4c68;
  color: #fff;
}

.carousel-item {}

/* press section */
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#press {
  background-color: #ff4c68;
  padding-bottom: 3%;
}

/* pricing section*/
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* call to action section */
#cta {
  background-color: #ff4c68;
  color: #fff;
}

/* footer section */
#footer {}

.social-icon {
  margin: 20px 10px;
}
